html,
body {
  width: auto;
  height: auto;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

/* -------- This is the background image and the positioning for it-------*/
.header {
  min-height: 488px;
  width: 100%;
  background-image: 
  linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),url(./images/newworkout4.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
/*-----------End of Background CSS ------*/
/*----------  Header CSS ---------------- */
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 9;
  align-items: center;
  font-size: 125%;
  word-spacing: 3px;
  margin-right: 2%;
}
.header .navbar-brand{
  font-size: 165%;
  font-weight: bolder;
  margin-left: 2%;
}

/* ------------Middle Text Box plus text CSS ---------*/
.text-box {
  width: 90%;
  color: rgb(240, 240, 243);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 50px;
  font-weight: 500;
  -webkit-text-fill-color: #fddb19;
  font-family: "Mitr", sans-serif;
  
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 65px;
  font-weight: bolder;
  font-family: "Farro", sans-serif;
  -webkit-text-fill-color: white;
}
.go-btn {
  display: inline-block;
  text-decoration: none;
  color: rgb(10, 10, 10);
  border: 1px solid #fddb19;
  padding: 12px 34px;
  font-size: 20px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: bolder;
  background-color: #fddb19;
  position: relative;
  cursor: pointer;
}
.go-btn:hover {
  border: 1px solid #dad6df;
  background: #fddb19;
  transition: 1s;
} /*----------------- End of Text Box plus Text CSS --------*/
/*-------------------------- Hours CSS ---------------------*/
.hours {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  background-position: center;
  background-image: linear-gradient(rgb(144, 144, 144), rgba(17, 17, 17, 0.7)),
    url(./images/newwork13.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.hours h1 {
  -webkit-text-fill-color: white;
  font-weight: bold;
}
.hours h3 {
  -webkit-text-fill-color: white;
  font-size: 200%;
}
.hours p {
  -webkit-text-fill-color: white;
  font-weight: 200px;
  font-size: 150%;
}
/*--------------------------- End of Hours CSS -------------- */
/*----------------------------  About CSS --------------------*/
.content .col-1 {
  padding: 10%;
  position: relative;
  text-align: center;
  min-width: 50%;
  max-width: 50%;
  width: 50%;
  float: left;
  max-height: 400px;
  min-height: 400px;
  height: 400px;
  background-position: center;
  background-color: #42a2f1;
  
}
.content .col-1 h1 {
  font-weight: bolder;
  font-family: "Barlow Semi Condensed", sans-serif;
  position: relative;
  
}
.content .col-2 {
  position: relative;
  min-width: 50%;
  max-width: 50%;
  width: 50%;
  float: right;
  max-height: 400px;
  min-height: 400px;
  height: 400px;
  background-image: url(./images/gatherpic.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
}
.contenttwo .col-1 {
  margin: auto;
  position: relative;
  min-width: 50%;
  max-width: 50%;
  width: 50%;
  float: left;
  max-height: 400px;
  min-height: 400px;
  height: 400px;
  background-image: url(./images/PersonalTraining2.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  position: relative; 
}
.contenttwo .col-2 {
  padding: 6%;
  position: relative;
  text-align: center;
  min-width: 50%;
  max-width: 50%;
  width: 50%;
  float: left;
  max-height: 400px;
  min-height: 400px;
  height: 400px;
  background-position: center;
  background-color: #fddb19;
  position: relative; 
}
.contenttwo .col-2 h1 {
  font-weight: bolder;
  font-family: "Barlow Semi Condensed", sans-serif;
  position: relative; 
}
.contentthree .col-1 {
  padding: 10%;
  text-align: center;
  min-width: 50%;
  max-width: 50%;
  width: 50%;
  float: left;
  max-height: 400px;
  min-height: 400px;
  height: 400px;
  background-position: center;
  background-color: #42a2f1;
  position: relative;
}
.contentthree .col-1 h1 {
  font-weight: bolder;
  font-family: "Barlow Semi Condensed", sans-serif;
  position: relative;
}
.contentthree .col-2 {
  min-width: 50%;
  max-width: 50%;
  width: 50%;
  float: right;
  min-height: 400px;
  max-height: 400px;
  height: 400px;
  margin: auto;
  position: relative;
  background-image: url(./images/GroupwMasksYoga.jpg);
  background-position: center;
  background-size: cover;

}
/*----------------------- End of About CSS ------------- */

/*----------------------- Fitness Trainers CSS ----------- */
.container-fluid-faculty {
  height: 2800%;
  margin: auto;
  width: 100%;
  padding-top: 30%; 
  padding-bottom: 10%;
  text-align: center;
  background-image: linear-gradient(rgb(84, 217, 250), rgba(8, 8, 8, 0.7)),
    url(./images/newpush.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid-faculty .container h1 {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  -webkit-text-fill-color: #080808;
  padding-top: 80%;
  padding-bottom: 0%;
}
.container h2{
  font-size: 100px;
  padding-top: 5%;
  -webkit-text-fill-color: #fddb19;
  font-weight: 800;
}
.container-fluid-faculty .team-row {
  width: 100%;
  padding: 10%;
  margin: auto;
  text-align: center;
}
.text-light {
  font-size: 140%;
  -webkit-text-fill-color: #fddb19;
  font-weight: 600;
  line-height: 120%;
}
/*------------------------ End of Fitness Trainers CSS ---------------- */

/*---------------------------- Pictures CSS ----------------------------*/
.pictures .card-img {
  height: 550px;
}
/*-------------------------- End of Pictures CSS ---------------------*/

/*-------------------------- Testimonials CSS ------------------------*/
.testimonials {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 0%;
  padding: 3%;
  position: relative;
  background-image: 
  linear-gradient(rgb(84, 217, 250), rgba(4, 9, 30, 0.7)),url(./images/peopleingym.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.testimonials h1 {
  text-align: center;
  font-size: 100px;
  font-weight: 800;
  -webkit-text-fill-color: #fddb19;
  padding-top: 5%;
}
.testimonials .reviews p {
  font-size: 150%;
  -webkit-text-fill-color: #fddb19;
  font-weight: 800;
  line-height: 120%;
  padding-top: 5%;
}
.reviews {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}
.card-image {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 300px;
  height: 100px;
}
/*--------------------------- Page Footer ----------------------------*/
.footer-content {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 text-align: center;  
 position: static;
 bottom: 0;
 left: 0;
 right: 0;
 background: #fddb19;
}  
.footer-content h3{
    font-size: 28px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    padding-top: 2%;
    font-weight: bold;
    
} 
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 18px;
    padding-bottom: 1%;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    font-size: 50%;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
}
.socials a i{
    font-size: 1.7rem;
    transition: color .4s ease;
    text-align: center;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: rgb(0, 0, 0);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 1%;
}
.footer-bottom p{
    font-size: 20px;
    word-spacing: 2px;
    -webkit-text-fill-color: #fddb19;
    text-transform: capitalize;
    text-align: center;
    
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
